body{
	font-family: 'Muli', sans-serif;
	font-size: 24px;
}
div{
	border: 2px black solid;
	display: inline-block;
	background-color: gray;
	margin: 10px 0 10px 10px;
}

.box{
	width: 100px;
	height: 100px;
}

.caja1{
	display: block;
}

.container{
	width: 370px;
	display: block;
}

.container-caja1, .container-caja2, .container-caja3{
	display: inline-block;
}

.caja4{
	display: block;
}
