body{
	font-family: 'Muli', sans-serif;
	font-size: 24px;
}

div{
	width: 22%;
}

li{
	list-style: none;
	margin-bottom: 25px;
	padding: 10px 0 50px 10px;

}

.li1, .li3{
	background-color: yellow;
}

.li2{
	background-color: #e44e5a;
	border: 1px solid black;
}

.li3{
	text-transform: uppercase;
}