body{
	font-family: 'Muli', sans-serif;
	font-size: 24px;
}

div{
	width: 100%;
}

ul{
	margin: 0;
	padding: 0;
}

li{
	display: inline-block;
	list-style: none;
	padding: 10px;
	margin-right: 5px;
}

.li1, .li3{
	background-color: yellow;
}

.li1{
	padding: 10px 120px 40px 8px;
}

.li2{
	background-color: #e44e5a;
	padding: 10px 250px 40px 8px;
}

.li3{
	text-transform: uppercase;
	padding: 10px 10px 40px 8px;
}